<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Carteira de Ações</title>
    <style>
        body {
            text-align: center;
            background-color: #b3d9f2; 
        }
        h1, h2, label, input, ul {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Calculadora de Carteira de Ações</h1>

    <h2>Adicionar Compra</h2>
    <form action="/adicionar" method="POST">
        <label for="ticker">Ticker:</label>
        <input type="text" id="ticker" name="ticker" required><br><br>
        <label for="precoCompra">Preço de Compra:</label>
        <input type="number" id="precoCompra" name="precoCompra" step="0.01" required><br><br>
        <label for="quantidade">Quantidade:</label>
        <input type="number" id="quantidade" name="quantidade" required><br><br>
        <input type="submit" value="Adicionar">
    </form>

    <h2>Carteira</h2>
    <ul>
        {% for ticker, info in carteira.items() %}
            <li>{{ ticker }} - Quantidade: {{ info['quantidade'] }} - Custo Total: R$ {{ info['quantidade'] * info['precoCompra'] }}</li>
        {% endfor %}
    </ul>

    <br>
    <a href="/lucroprejuizo"><button>Ver Lucro/Prejuízo e Valor Total Investido</button></a>
</body>
</html>
