<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucro/Prejuízo da Carteira</title>
    <style>
        body {
            text-align: center;
            background-color: #b3d9f2; 
        }
        h1, h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Lucro/Prejuízo da Carteira</h1>
    <h2>Valor Total Investido: R$ {{ valorInvestido}}---Posição atual da Carteira: R$ {{posCarteira}}</Carteira></h2>
    <h2>Total de Lucro/Prejuizo: R$ {{ valorTot }}</h2>
    <br>
    <a href="/"><button>Voltar para a Carteira</button></a>
</body>
</html>
